<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="parentProvider" type ="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.ParentProviderConfigurationSection"/>
  </configSections>
  <parentProvider defaultProvider="ChineseProvider">
    <providers>
      <add name="ChineseProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.ChineseProvider"/>
      <add name="EnglishProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.EnglishProvider"/>
    </providers>
  </parentProvider>
</configuration>