<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <section name="MySimpleSection" type="CoreConsoleApp.配置文件中自定义内容.最简方式.MySimpleSection,CoreConsoleApp" />
	  <section name="LanguageProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.LanguageProviderConfigurationSection,CoreConsoleApp" />
  </configSections>
	<MySimpleSection mySetting="someValue" />
	<LanguageProvider defaultProvider="ChineseProvider">
    <providers>
      <add name="ChineseProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.ChineseProvider,CoreConsoleApp"/>
      <add name="EnglishProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.EnglishProvider,CoreConsoleApp"/>
    </providers>
  </LanguageProvider>
</configuration>