<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	  <section name="MySimpleSection" type="CoreConsoleApp.配置文件中自定义内容.最简方式.MySimpleSection, CoreConsoleApp" />
	  <section name="orders" type="CoreConsoleApp.OrdersSection, CoreConsoleApp"/>
	  <section name="LanguageProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.ProviderConfigurationSection, CoreConsoleApp" />
  </configSections>
  <MySimpleSection mySetting="someValue" />
  <orders companyID="2001">
		<order number="100001" amount="222.22">
			<lineItems warehouseNumber="02">
				<lineItem number="00-000-001" description="wii"/>
			</lineItems>
		</order>
		<order number="300001" amount="33.33">
			<lineItems warehouseNumber="99">
				<lineItem number="00-000-001" description="xbox 360"/>
				<lineItem number="00-000-003" description="playstation 3"/>
			</lineItems>
		</order>
	</orders>
  <LanguageProvider defaultProvider="ChineseProvider">
    <providers>
      <add name="ChineseProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.ChineseProvider,CoreConsoleApp"/>
      <add name="EnglishProvider" type="CoreConsoleApp.设计模式.Provider提供者模式.X.Sample.EnglishProvider,CoreConsoleApp"/>
    </providers>
  </LanguageProvider>
</configuration>